.avatarContainer {
    position: relative;
    display: inline-block;
  }
  
  .avatar {
    border-radius: 50%;
    transition: transform 0.3s ease;
  }
  
  .avatar:hover {
    transform: scale(1.05); /* Slightly enlarge the avatar on hover */
  }
  
  .tooltip {
    position: absolute;
    bottom: 100%; /* Adjust as needed */
    left: 50%; /* Center the tooltip */
    transform: translateX(-50%);
    background-color: white;
    padding: 8px;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;
    width: max-content;
    max-width: 280px; /* Adjust as needed */
    display: none;
  }
  
  .avatarContainer:hover .tooltip {
    display: block;
  }
  
  .followButton {
    border: none;
    background-color: black;
    color: white;
    padding: 8px 16px;
    margin-top: 8px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .followButton:hover {
    background-color: #555;
  }
  